.table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    
    th, td {
      padding: 10px;
      text-align: left;
      border: 1px solid #ddd;
    }
  
    th {
      background-color: #f4f4f4;
      font-weight: bold;
    }
  
    td {
      background-color: #fff;
    }
  }
  
  .modal-body {
    padding: 15px;
  }
  
  .modal-footer {
    padding: 15px 20px;
  }
  
  button {
    font-size: 16px;
  }

  .image-gallery {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-gallery img {
    margin-right: 5px;
    margin-bottom: 5px;
    max-width: 100px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }
  
  