.img-outlet{
    width: 30px;
    height: 30px;
}
.border-none{
    border: none;
}
.border-new{
    border: 1px solid #f4f4f7;
    padding: 40px ;    
    margin-top: 20px;
    margin-bottom: 80px;
}
.text-caption{
    font-size: 25px;
    line-height: 1.6;
    margin: 0;
    font-weight: 500;
    position: relative;
    padding: 0 0 10px;
}