.order-tracking {
  padding: 20px;
  font-family: Arial, sans-serif;
  .tabs-container{
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: sticky; /* Sticky giữ cho tabs-container cố định */
    top: 10%; /* Luôn hiện tại đỉnh khi cuộn */
    z-index: 1000; /* Nổi trên các nội dung khác */
  }
  .tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;

    
    .tab {
      padding: 10px 15px;
      border: none;
      background: #f2f2f2;
      cursor: pointer;
      border-radius: 5px;
      background-color: #EF683A;
      color: white;
      border-radius: 0;
      transition: background 0.1s;

      &.active {
        background: #27678F;
        color: white;
      }

      &:hover {
        background: #e0e0e0;
      }
    }
  }

  .orders-list {
    &.hidden {
      opacity: 0; /* Ẩn hoàn toàn */
      transform: translateY(-50px); /* Di chuyển lên trên khi ẩn */
      pointer-events: none; /* Vô hiệu hóa tương tác */
    }
    .order-item {
      background-color: #FFFFFF;
      border: 1px solid #ddd;
      border-radius: 0;
      padding: 15px;
      margin-bottom: 10px;
      transition: transform 0.1s;

      &:hover {
        transform: translateY(-1px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }

      p {
        margin: 5px 0;
      }

      .details-button {
        margin-top: 10px;
        padding: 8px 12px;
        background: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
          background: #0056b3;
        }
      }
    }
  }
}
