.full-width-row {
    width: 100%;
    padding: 0; /* Đảm bảo không có khoảng cách giữa các phần tử */
  }
  
  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
  
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
  .equal-height {
    display: flex;
  }
  
  .equal-height .Col-left,
  .equal-height .Col-right {
    display: flex;
    flex-direction: column;
  }
  
  .column-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 10px;
  }
  .text-caption{
    font-size: 25px;
    line-height: 1.6;
    margin: 0;
    font-weight: 500;
    position: relative;
    padding: 0 0 10px;
}.text-ep{
  color: #ef683a;
  text-decoration: none;
  outline: none;
}
.row-gap{
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}