.custom-row {
  width: 50%;
    max-width: 50%;
}

.custom-image-col {
  padding: 0;
  background-color: #f0f0f0;
}

.custom-form-col {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-btn{
  background-color: #ef683a;
  border-color: #ef683a;
}
.f-right{
  justify-content: right; 
}
.custom-text {
  text-align: center; /* Căn chữ chính giữa */
}