.mb-10{
    margin-bottom: 10px;
}
.no-border{
   border-color: #fff !important;
}
.text-gap{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 25px;
}
.text-ep{
    color: #ef683a;
    text-decoration: none;
    outline: none;
}
.row-gap{
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}