.mb-10{
    margin-bottom: 10px;
}
.no-border{
   border-color: #fff !important;
}
.text-gap{
        font-size: 25px;
        line-height: 1.6;
        margin: 0;
        font-weight: 500;
        position: relative;
        padding: 0 0 10px;
}
.text-ep{
    color: #ef683a;
    text-decoration: none;
    outline: none;
}
.row-gap{
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}