.custom-row {
  width: 50%;
    max-width: 50%;
}

.custom-image-col {
  padding: 0;
  background-color: #ffffff;
}

.custom-form-col {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
}

.custom-btn{
  background-color: #ef683a;
  border-color: #ef683a;
}
.f-right{
  justify-content: right; 
}
.custom-text {
  text-align: center; /* Căn chữ chính giữa */
}
.pm-100{
  padding: 100px 60px;
}
.mb-100{
  margin-bottom: 100px;
}