.quantity-selector {
    display: flex;
    align-items: center;
    width: fit-content;
  }
  
  .quantity-btn {
    background-color: #f4f4f4;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .quantity-btn:hover {
    background-color: #e0e0e0; /* Optional: Change background on hover */
  }
  
  .quantity-display {
    min-width: 40px;
    text-align: center;
    font-size: 18px;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
  }
.quantity-selector{
  height: 25px;
}
.quantity-btn{
  height: 25px;
}
.quantity-display{
  height: 25px;
}
.quantity-display{
  padding: 20px;
}