#header{
   justify-content: space-between;
      padding-top: 0;
   min-height: 100px;

}

#header-top{
    background-color: #27678f;
    width: 100;
    margin: 0;
    text-align: center;
}
#header-top__text{
    
    color: #fff;
}
.form-control{
    width: 250px;
}
#header-bottom__form-btn{
    background-color: #434343;
    color: #fff;
    border-color: #434343   ;
}
.header-bottom__container-btn{
    background-color: #ef683a;
    color: #fff;
    border-color: #ef683a;
    height: 30px;
    font-size: 14px;
    text-wrap: nowrap;    
}
.icon-user{
    font-size: 25px;
    color: #000;
}
#header-bottom__container-account-access-text{
    text-wrap: nowrap;
}
#header-bottom__container-account-access{
    width: 100px;
}
#header-bottom__container-cart{
    float: right;   
}
.col-header{
    background-color: #ef683a;
}
.full-row{
    width: 100%;
}
.mr-10{
    margin-right: 50px;
}
#header-bottom__container-account-access{
    text-wrap: nowrap;
}
.mt-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
#header-list__nav{
    list-style: none;
    text-align: center;
}
.header-list__list-item{
    margin-right: 10px;
    font-size: 16px;
}
#header-list__nav{
    margin-bottom: 0;   
}
#dropdown-cust{
    background-color: #f8f9fa;
    border: #f8f9fa;
}

.text-under{
    text-decoration: none;
    list-style: none;
    color: #000;
}
.custom-btn-login{
    background-color: #1d1c21;
    border: #1d1c21;
    width: 100%;
    border-radius: 0;
    border: 1px solid #1d1c21;
}
.login{
    margin-bottom: 10px;
    margin-top: 10px;
}
.reg{
    margin-bottom: 10px;
}
.custom-btn-login:hover{
    background-color: #1d1c21;
    opacity: 0.5;
    color: white;
    border: none;
    transition: 0s;
}
.w-menu{
    min-width: 240px;
    border-radius: 0;

}
.text-cust{
    font-size: 20px;
    font-weight: 500;
    
}
.bor-line{
    padding-top: 5px;
    padding-bottom: 15px;
}
.bor-line::after {
    content: "";
    display: block;
    margin-top: 10px;
    height: 0.5px; /* Độ dày của đường kẻ */
    background-color: #888888; /* Màu sắc của đường kẻ */
    width: 100%; /* Chiều rộng của đường kẻ bằng 100% chiều rộng phần tử cha */
  }

  .t-under{
    font-size: 18px;
  }
  .-name{
    font-weight: 500    ;
  }
.row-m{
    margin-bottom: 10px;
}

.container{
    .t-under-name{
        padding: 5px 0;
        border-bottom: 1px solid #27678F;
    }

    .logout-button{

        margin-top: 15px;
        background-color: #EF683A;
        border: none;
        color: white;
        padding: 5px 15px;
        &:hover{
            transition: 0.2s;
            background-color: #27678F;
        }
    }
}
