#header{
    padding-top: 0;
    justify-content: space-between;
    min-height: 100px;
}
#header-top{
    background-color: #27678f;
    width: 100;
    margin: 0;
    text-align: center;
}
#header-top__text{
    color: #fff;
}
#header-bottom__form{
    width: 400px;
    height: 42px;
}
#header-bottom__container{
    display: flex;
}
.header-list__list{
    list-style: none !important;
    padding-left: 0;
}
#header-bottom{
    display: flex;
    justify-content: space-around;
    
}
.header_container{
    display: flex;
    justify-content: space-around;
}
#header-bottom__container-btn{
    background-color: #ef683a;
    color: #fff;
    border-color: #ef683a;
}
.header-container{
    display: inline-flex;
}
.container--right{
   display: flex;
}

.margin-left{
    margin-left: 60px}
.align-items-center{
    float: right;
}
#header-bottom__container-account-access{
    display: block;
    text-wrap: nowrap;
}
.header-container{
    margin-top: 16px;
}
.ml-10{
    margin-left: 16px;
}
.icon-user{
    font-size: 25px;
}
.cart__text{
   text-wrap: nowrap;
    font-size: 10px;
}
.header-bottom__container-cart{
    width: 30px;
}
.icon-user-l{
    font-size: 30px;
}
.mr-10{
    margin-right: 20px;
}
.header-bottom__container-btn{
    background-color: #ef683a;
    color: #fff;
    border-color: #ef683a;
    height: 44px;
    font-size: 12px;
    text-wrap: nowrap;
    margin-left: 80px;
    height: 30px;
    
    
}
.margin-left-l{
    margin-left: 10px;
}
.mr-10{
    margin-left: 50px;
}
.header-bottom__form-btn{
    width: 150px;
}
#header-bottom__form{
    width: 500px;
}
.navbar-list{
   width: 100%;
   height: 100%;
   margin-left: 350px; 
}
#header-bottom__form-btn{
   border-color: #ef683a ;
   color: #fff;
   background-color: #ef683a;
}
#header-bottom__form-btn:hover{
    background-color: #f08967;
}
.col-padding{
    padding-bottom: 0;
}
.header-list__list{
    position: relative;
}
.header-list__list {
    width: 100%; /* Chiều rộng đầy đủ */
    padding: 0; /* Xóa khoảng trống bên trong */
    margin: 0; /* Xóa khoảng cách bên ngoài */
    list-style: none; /* Xóa ký tự bullet */
  }
  
  .header-list__list-item {
    flex-grow: 1; /* Đảm bảo các phần tử con của d-flex được chia đều */
    text-align: center; /* Căn giữa nội dung trong từng <li> */
  }