#header{
    padding-top: 0;
    justify-content: space-between;
    min-height: 100px;
}
#header-top{
    background-color: #27678f;
    width: 100;
    margin: 0;
    text-align: center;
}
#header-top__text{
    color: #fff;
}
.form-control{
    width: 250px;
}
#header-bottom__form-btn{
    background-color: #434343;
    color: #fff;
    border-color: #434343   ;
}
.header-bottom__container-btn{
    background-color: #ef683a;
    color: #fff;
    border-color: #ef683a;
    height: 30px;
    font-size: 14px;
    text-wrap: nowrap;    
}
.icon-user{
    font-size: 25px;
}
#header-bottom__container-account-access-text{
    text-wrap: nowrap;
}
#header-bottom__container-account-access{
    width: 100px;
}
#header-bottom__container-cart{
    float: right;   
}
.col-header{
    background-color: #ef683a;
}
.full-row{
    width: 100%;
}
.mr-10{
    margin-right: 50px;
}
#header-bottom__container-account-access{
    text-wrap: nowrap;
}
.mt-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
#header-list__nav{
    list-style: none;
}
.header-list__list-item{
    margin-right: 10px;
}
#header-list__nav{
    margin-bottom: 0;   
}